/* Complete the CSS styling according to the provided design */

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    background-image: url("table.png") ;
    background-size: cover;
    
}

.btn{
    width: 150px;
    margin: 15px;
    padding-top: 15 px;
    padding-bottom: 15 px;
    font-weight: bold;
    font-size: large;
    color:green;
    background-color:gold;
    border: none;
    border-radius: 2px;
    
}

h1 {
    color: goldenrod;
}

#message-el {

    font-style: italic;
    
}
